/**
 * Base styles 
 */

:root {
  --font-family-primary: sans-serif;
  --background-color-body: #F8F9FF;
  --background-color-shapes: #172755;
  --background-color-contrasted: #EF2A82;
  
  --text-color-primary: #8794BA;
  --text-color-secondary: #8794BA;
  --text-color-contrasted: #FFFFFF;
  --content-width: 1212px;
  --base-deg: -7deg; 
  --tan-base-deg: 0.123;
  --base-spacing: 2rem;
  --fluid-spacing: calc(100vw * var(--tan-base-deg));
  --content-spacing: calc(var(--content-width) * var(--tan-base-deg) / 2);
  --content-padding: 1rem;
  --border-width: 1rem;
  
  --border-radius-desktop: 30px;
  --border-radius-mobile: 17px;
  --border-radius-button: 68px;
}



    
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-family-primary);
  font-size: 16px;
}

@media only screen and (max-width: 374px) {
  html {
    font-size: 14px;
  }
}

body {
  background: var(--background-color-body);
}

h1 {
  font-size: 1.93rem;
}

h2 {
  
}

h3 {
  
}

h4 {
  
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius-mobile);
}

a {
  text-decoration: none;
}

p{
  
}

ul {
  list-style-type: none;
  padding: 0;
}

/**
 * Layout
 */
/*
.wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 1rem 1.3rem 1rem;
}
*/

.container {
  margin: 0 auto;
  position: relative;
  color: var(--text-color-primary);
}

.container > .content {
  max-width: var(--content-width);
  padding: var(--content-padding);
  margin: 0 auto;
}

.container.container-header_primary {
  background-color: var(--background-color-shapes);
  color: var(--text-color-secondary);
  padding-bottom: calc(var(--base-spacing) / 2 + var(--fluid-spacing) + var(--border-width) + var(--content-spacing));
  margin-bottom: calc(var(--base-spacing) / 2 - var(--fluid-spacing) + var(--content-spacing));
  overflow: hidden;
}

.container.container-header_primary::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% - var(--fluid-spacing) / 4 - var(--border-width) / 2);
  left: 50%;
  width: calc(var(--fluid-spacing) * 9);
  height: calc(var(--fluid-spacing) * 1.5);
  transform: translate(-50%, -50%) rotate(var(--base-deg));
  background-color: var(--background-color-body);
  border-top: var(--border-width) solid var(--background-color-contrasted);
}

.container-footer_secondary {
  z-index: 5;
}

.container.container-footer_primary::before {
  content: '';
  display: block;
  position: absolute;
/*  can't calculate the right positioning*/
  top: calc(var(--fluid-spacing) / 4 + var(--border-width) / 2);
  left: 50%;
  width: calc(var(--fluid-spacing) * 9);
  height: calc(var(--fluid-spacing) * 1.5);
  transform: translate(-50%, -50%) rotate(var(--base-deg));
  background-color: var(--background-color-body);
  border-bottom: var(--border-width) solid var(--background-color-contrasted);
}

.container.container-footer_primary {
  background-color: var(--background-color-shapes);
  color: var(--text-color-secondary);
  padding-top: calc(var(--base-spacing) / 2 + var(--fluid-spacing) + var(--border-width) + var(--content-spacing));
  margin-top: calc(var(--base-spacing) / 2 - var(--fluid-spacing) + var(--content-spacing));
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: ;
}

.header__logo {
  max-width: 130px;
}

.header__navigation_desktop {
  display: none;
}

.header__sign-up.button {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  max-width: 130px;
}

.footer__navigation {
  display: none;
}

/**
 * Watermarks
 */
.watermark {
  display: none;
}

/**
 * Paragraphs
 */
.paragraph {
  
}

/**
 * Buttons
 */
.button {
  display: block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: var(--border-radius-button);
  padding: 1rem;
}

.button_promoted {
  color: var(--text-color-contrasted);
  background-color: var(--background-color-contrasted);
}

.button_regular {
  border: 1px solid #465b95;
}

/**
 * Navigation block
 */
.navigation {
  
}

/**
 * Hero block
 */
.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.hero__text {
  max-width: 21.5rem;
}

.hero__chart_primary {
  max-width: 21.5rem;
}

.hero__chart_secondary {
  display: none;
}

/**
 * Illustrated block
 */
.illustrated {
  display: flex;
  flex-direction: column;
}

.illustrated_reverse {
  flex-direction: column-reverse;
}

/**
 * Feature block
 */
.feature {
  
}

/**
 * Pricing block
 */
.pricing {
  
}

.pricing__plans {
  display: flex;
  overflow: hidden;
}

/**
 * Pricing Plan block
 */

.pricing-plan {
  display: flex;
  flex-direction: column;
}

/*promoted*/




