/**
 * Base styles 
 */

:root {
  --font-family-primary: "Roboto", sans-serif;
  --background-color-body: #F8F9FF;
  --background-color-shapes: #172755;
  --background-color-contrasted: #EF2A82;
  --cards-color-mobile: #FFFFFF;
  
  --text-color-primary: #8794BA;
  --text-color-secondary: #172755;
  --text-color-contrasted: #FFFFFF;
  --content-width: 1212px;
  --base-deg: -7deg; 
  --tan-base-deg: 0.123;
  --base-spacing: 2rem;
  --fluid-spacing: calc(100vw * var(--tan-base-deg));
  --content-spacing: calc(var(--content-width) * var(--tan-base-deg) / 2);
  --content-padding: 1.2rem;
  --border-width: 1rem;
  
  --border-radius-primary: 30px;
  --border-radius-mobile: 17px;
  --border-radius-button: 68px;
}
    
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--font-family-primary);
  font-size: 16px;
}

@media only screen and (max-width: 374px) {
  html {
    font-size: 14px;
  }
}

body {
  background: var(--background-color-body);
}

h1 {
  font-size: 1.93rem;
  line-height: 1.2;
  color: var(--text-color-contrasted);
}

h2 {
  font-size: 1.87rem;
  line-height: 1.17;
}

h3 {
  font-size: 1rem;
}

h4 {
  
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p{
  
}

ul {
  list-style-type: none;
  padding: 0;
}

/**
 * Layout
 */
/*
.wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 1rem 1.3rem 1rem;
}
*/

.container {
  margin: 0 auto;
  position: relative;
  color: var(--text-color-primary);
}

.container > .content {
  max-width: var(--content-width);
  padding: 0 var(--content-padding);
  margin: 0 auto;
}

.container.container-header_primary {
  background-color: var(--background-color-shapes);
  color: var(--text-color-primary);
  padding-bottom: calc(var(--base-spacing) / 2 + var(--fluid-spacing) + var(--border-width) + var(--content-spacing));
  margin-bottom: calc(var(--base-spacing) / 2 - var(--fluid-spacing) + var(--content-spacing));
  overflow: hidden;
}

.container.container-header_primary::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(100% - var(--fluid-spacing) / 4 - var(--border-width) / 2);
  left: 50%;
  width: calc(var(--fluid-spacing) * 9);
  height: calc(var(--fluid-spacing) * 1.5);
  transform: translate(-50%, -50%) rotate(var(--base-deg));
  background-color: var(--background-color-body);
  border-top: var(--border-width) solid var(--background-color-contrasted);
}

.container-footer_secondary {
  z-index: 5;
}

.container.container-footer_primary::before {
  content: '';
  display: block;
  position: absolute;
/*  can't calculate the right positioning*/
  top: calc(var(--fluid-spacing) / 4 + var(--border-width) / 2);
  left: 50%;
  width: calc(var(--fluid-spacing) * 9);
  height: calc(var(--fluid-spacing) * 1.5);
  transform: translate(-50%, -50%) rotate(var(--base-deg));
  background-color: var(--background-color-body);
  border-bottom: var(--border-width) solid var(--background-color-contrasted);
}

.container.container-footer_primary {
  background-color: var(--background-color-shapes);
  color: var(--text-color-primary);
  padding-top: calc(var(--base-spacing) / 2 + var(--fluid-spacing) + var(--border-width) + var(--content-spacing));
  margin-top: calc(var(--base-spacing) / 2 - var(--fluid-spacing) + var(--content-spacing));
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.4rem;
  margin: 0 -1.2rem 1.75rem;
  padding: 0 1.2rem;
  box-shadow: 0px 4px 4px #12214D;
}

.header__logo {
  max-width: 8.75rem;
}

.header__navigation_desktop {
  display: none;
}

.header__buttons {
  display: flex;
  align-items: center;
  margin-right: -0.5rem;
}

.header__sign-in.button {
  padding: 0.5rem;
}

.header__sign-up.button {
  display: none;
}

.header__navigation_mobile.button {
  font-size: 1.7rem;
  padding: 0.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7.5rem;
  font-size: 1.4rem;
  border-top: 1px solid #2A407C;
}

.footer__logo {
  max-width: 8.75rem;
}

.footer__navigation {
  display: none;
}

.footer__widgets {
  display: flex;
}

.fa-twitter {
  margin: 0 2.5rem;
}

/**
 * Navigation block
 */

/**
 * Watermarks
 */
.watermark {
  display: none;
}

/**
 * Charts
 */
.chart_shaded {
  box-shadow: 0px 19.2249px 53.4024px -16.0207px rgba(25, 42, 89, 0.2);
  border-radius: var(--border-radius-mobile);
}

/**
 * Paragraphs
 */
.paragraph {
  font-size: 0.87rem;
  line-height: 1.22rem;
}

.paragraph_larger {
  font-size: 1.12rem;
  line-height: 1.69rem;
}

/**
 * Buttons
 */
.button {
  display: block;
  text-align: center;
  line-height: 1.17;
  border: 1px solid transparent;
  border-radius: var(--border-radius-button);
  padding: 1rem;
}

.button_promoted {
  min-width: 12.9rem;
  max-width: 23rem;
  color: var(--text-color-contrasted);
  background-color: var(--background-color-contrasted);
  margin: 0 auto;
}

.button_regular {
  color: var(--text-color-secondary);
  border: 1px solid #465b95;
}

.button_borderless {
  color: var(--text-color-primary);
}

/**
 * Hero block
 */
.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 auto;
}

.hero__text {
  
}

.hero__heading {
  max-width: 21rem;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.hero__description {
  margin-bottom: 1.75rem;
}

.hero__description-additional {
  display: none;
}

.hero__chart_primary {
  margin-bottom: 1.5rem;
}

.hero__chart_secondary {
  display: none;
}

@media only screen and (max-width: 374px) {
  .hero__heading {
    max-width: 21rem;
  }
}

/**
 * Features block
 */
.features {
  
}

.features__header {
  margin-bottom: 2.6rem;
}

.features__heading {
  color: var(--text-color-secondary);
  margin-bottom: 1.4rem;
}

/**
 * Feature block
 */
.feature {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.2rem;
}

.feature__icon {
  margin-right: 1.9rem;
}

.feature__text {
  display: flex;
  flex-direction: column;
}

.feature__name {
  color: var(--text-color-secondary);
  line-height: 1.17;
  margin-bottom: 0.7rem;
}


/**
 * Illustrated block
 */
.illustrated {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 3.75rem;;
}

.illustrated_reverse {
  flex-direction: column-reverse;
}

.illustrated__heading {
  color: var(--text-color-secondary);
  margin-bottom: 1.25rem;
}

.illustrated__description {
  margin-bottom: 1.88rem;
}

/**
 * Pricing block
 */
.pricing {
  margin-bottom: 2.5rem
}

.pricing__header {
  margin-bottom: 3.5rem;
}

.pricing__heading {
  color: var(--text-color-contrasted);
  margin-bottom: 1.25rem;
}

.pricing__plans {
  display: flex;
  justify-content: center;
}

/**
 * Pricing Plan block
 */

.pricing-plan {
  display: flex;
  flex-direction: column;
  min-width: 17.5rem;
  min-height: 23rem;
  justify-content: flex-start;
  text-align: center;
  padding: 2.5rem 2.3rem 3rem;
  background-color: var(--cards-color-mobile);
  border-radius: var(--border-radius-primary);
  box-shadow: 0px 18px 50px -15px #060F28;
}

.pricing-plan__name {
  font-size: 1.56rem;
  line-height: 1.17;
  color: var(--text-color-secondary);
  margin-bottom: 0.5rem;
}

.pricing-plan__users-number {
  font-size: 0.81rem;
  margin-bottom: 1.9rem;
}

.pricing-plan__cost {
  font-size: 3.75rem;
  color: var(--text-color-secondary);
  padding-top: 1.25rem;
  margin: 0 -0.3rem 0;
  border-top: 1px solid #D3D9E9;
}

.pricing-plan__cost-small {
  font-size: 1.87rem;
  line-height: 1;
}

.pricing-plan__period {
  font-size: 0.81rem;
  margin-bottom: 2.25rem;
}

/*promoted*/
.pricing-plan_promoted {
  margin: 0 1.25rem;
}



